ul{
	text-align:center;
	font-size:4rem;
	list-style-type:none
}

.link{
  margin-left:0px;
}

.prof-pic{
	border-radius:50%;
	height:175px;
	width:175px;
}

a {
	color:#000;
}	

.fancy-font{
	font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
	text-align:center;
	font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Sorts Mill Goudy', serif;
	color: #222;
}

.container {
  max-width: 900px; }
.header {
  margin-top:10%;
  text-align: center; }
.section-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.navbar {
  display: none; }
.value-prop {
  margin-top: 1rem; }
/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 10%; }
  .section {
    padding: 6rem 0; }
}
/* Larger than tablet */
@media (min-width: 750px) {
  .mobile-links{
    display:none;
  }
  /* Navbar */
  .navbar + .section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}